<!--
    Mitchell McCoard

    
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Help</title>

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
    <link rel="stylesheet" href="/css/myStyles.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Students Against Trafficking</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/people">Info</a>
                  </li>
                  <li class="nav-item">
                      <a href="/toDo" class="nav-link active" aria-current="page">Tips</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </header>
    <main>
      <h1 class="display m-1 p-1 text-center">Have You Seen Me?</h1>
      <h1 class="display m-1 p-1 text-center">How can I help?</h1>
      <br>
      <p class="m-2 p-5 text-center">There are many ways to help limit the effects of human trafficking in our society.
        The first step is to become educated. Here are some links that will help you learn more about human trafficking in Utah.
      </p>
      <ul class="m-2 text-center">
        <li>
          <a href="https://attorneygeneral.utah.gov/initiatives/human-trafficking/">Attorney General</a>
        </li>
        <li>
          <a href="https://www.rideuta.com/news/2021/01/Human-Trafficking#:~:text=BE%20THE%20ONE%20to%20SUPPORT%20victims%20of%20human%20trafficking.&text=victims%20to%20services%3A-,Contact%20the%20National%20Human%20Trafficking%20Hotline%20at%20888%2D373%2D7888,%40aau%2Dslc.org%20">Ride Utah News</a>
        </li>
        <li>
          <a href="https://www.acf.hhs.gov/sites/default/files/documents/otip/utah_profile_efforts_to_combat_human_trafficking.pdf">Administration for Children and Families</a>
        </li>
        <li>
          <a href="https://www.deseret.com/utah/2021/10/8/22716453/aspen-house-utah-human-trafficking-recovery-center-kicks-off-fundraising-efforts-salt-lake-city/">Deseret News</a>
        </li>
        <li>
          <a href="https://humantraffickinghotline.org/state/utah">Human Trafficing Hotline</a>
        </li>
      </ul>
      <p class="m-2 p-5 text-center">You can also look into orginazations like <a href="https://ourrescue.org/?msclkid=8e78b59ab1fe11ecbcebd7a36192f422">Operation Underground Railroad</a>, a non-profit started by a BYU Alumn.
      </p>
    </main>
</body>
</html>